.form {
  width: 100%;
}
.form__input,
.form__button {
  width: 95%;
  height: 4rem;
  border-radius: 0.313rem;
  border: none;
  font-family: var(--font-raleway);
}
.form__input {
  border: 0.63px solid var(--clr-primary-400);
  &--signup {
    width: 85.71%;
    height: 3.2rem;
    border-radius: 0.147rem;
    border: none;
  }
}
.form__input::placeholder {
  color: var(--clr-neutral-300);
  font-weight: var(--fw-400);
  font-size: var(--fs-12);
  line-height: 1.409rem;
  letter-spacing: 0.04rem;
  padding-left: 2.1rem;
}
.form__input--signup::placeholder {
  padding-left: 0.8rem;
}
.form__button {
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-bright-blue);
  font-weight: var(--fw-700);
  font-size: var(--fs-14);
  line-height: 1.644rem;
  margin-top: 1.6rem;
  &--signup {
    width: 85.71%;
    height: 3.2rem;
    border-radius: 0.147rem;
    border: none;
    margin-top: 0.8rem;
  }
}
